<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://rzr.github.io/webthings-webapp" version="1.0.0" viewmodes="maximized">
  <access origin="*" subdomains="true"/>
  <tizen:application id="WebThings0.Example" package="WebThings0" required_version="2.4"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <icon src="images/108x108/logo.png"/>
  <name>WebThings</name>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:setting context-menu="disable"/>
  <tizen:profile name="mobile"/>
</widget>
