<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"  id="http://example.com/app" version="1.0.0" viewmodes="maximized">
  <access origin="*" subdomains="true"/>
  <tizen:application id="ComExample.main" package="ComExample" required_version="2.4"/>
  <content src="www/index.html"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <name>Example</name>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:setting context-menu="disable"/>
  <tizen:profile name="mobile"/>
</widget>
